!!!
%html
  %head
    %title Contributions on Github
    %meta(charset='utf-8')
    %script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  %body
    %h1 Contributions on Github
    %form
      %label(for='user')
        Github User:
      %input(name='user' id='user')
      %input(type='submit')
    %script(src='/js/app.js')
    %pre#results