!!!
%html
  %head
    %title Contributions on Github
    %meta(charset='utf-8')
  %body
    %h1 Contributions on Github
    %form(action='/query')
      %label(for='user')
        Github User:
      %input(name='user')
      %input(type='submit')