!!!
%html
  %head
    %title Contributions on Github
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width')
    %script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    %link(rel='stylesheet' href='css/normalize.css')
    %link(rel='stylesheet' href='css/foundation.min.css')
    %link(rel='stylesheet' href='css/app.css')
  %body
    .row
      %h1 Contributions on Github
    .row
      %form
        %label(for='user' class='user')
          Github user&nbsp;
          %span (Example:&nbsp;
            %a(href='#TODO') cldwalker
            )
        %input(name='user' id='user')
        %input.button.small.round(type='submit')
      %script(src='/js/app.js')
    .row
      #message
      %table#results
        %thead
          %tr
            %th Full name
            %th Commits
            %th Ranking
            %th Description
        %tbody
          %tr
            %td
              %a(href='http://github.com/chneukirchen/bacon') chneukirchen/bacon
              &nbsp; (278 stars)
            %td
              %a(href='https://github.com/chneukirchen/bacon/commits?author=cldwalker') 6 commits
            %td
              %a(href='https://github.com/chneukirchen/bacon/graphs/contributors') 3rd out of 10
            %td A small RSpec cone