!!!
%html
  %head
    %title Contributions on Github
    %meta(charset='utf-8')
    %script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    :javascript
      var es = new EventSource('/contributions');
      es.onmessage = function(e) { $('#results').append(e.data + "\n") };
  %body
    %h1 Contributions on Github
    %form(action='/contributions')
      %label(for='user')
        Github User:
      %input(name='user')
      %input(type='submit')
    %pre#results