!!!
%html
  %head
    %title Contributions on Github
    %meta(charset='utf-8')
    %script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  %body
    %h1 Contributions on Github
    %form
      %label(for='user')
        Github User:
      %input(name='user' id='user')
      %input(type='submit')
    %script(src='/js/app.js')
    #message
    %table#results
      %thead
        %tr
          %th Full name
          %th Commits
          %th Ranking
          %th Description
      %tbody
        %tr
          %td
            %a(href='http://github.com/chneukirchen/bacon') chneukirchen/bacon
            &nbsp; (278 stars)
          %td
            %a(href='https://github.com/chneukirchen/bacon/commits?author=cldwalker') 6 commits
          %td
            %a(href='https://github.com/chneukirchen/bacon/graphs/contributors') 3rd out of 10
          %td A small RSpec cone