%tr(class='{{tr-class}}')
  %td
    %a(href='https://github.com/{{full-name}}') {{full-name}}
    %span.stars &nbsp;({{stars}} stars)
  %td
    %a(href='https://github.com/{{full-name}}/commits?author={{user}}') {{commits}} {{commit-word}}
  %td
    %a(class='ranking {{ranking-class}}' href='https://github.com/{{full-name}}/contributors') {{ranking}}
  %td {{desc}}