tr.contribution td {
  background-color: #f9f9f9;
}

tr.no-contribution td {
  background-color: #fff;
}

label.user {
  font-size: 30px;
}
label.user span {
  font-size: 20px;
  color: #999;
}

#user {
  margin-right: 5px;
}

span.stars {
  font-size: 90%;
}

#message, #results, .alert-box {
  display: none;
}